{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
    <div class="row">
        {% if user.is_authenticated %}
            <div class="container">
            <span><h2 class="lead">Welcome, {{ user.username }}</h2></span>
            <br>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-md-offset-2">
                    <h3>Got A Query ?? Post Here</h3>
                    <br>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <br>
                        <button type="submit" class="btn btn-default pull-right">Post</button>
                    </form>
                </div>
                <br>
                <br>
                <br>
            </div>
        {% else %}
            <h2>Welcome Guest</h2>
            <p>SignUp or Login Using The Above Links</p>
        {% endif %}
    </div>
    </div>
{% endblock %}